.App header {
	padding: 20px 0;

	background-color: #209cee;

	margin-bottom: 30px;
}

.App h1 {
	font-weight: bold;
	color: white;
	font-size: 20px;
	text-transform: uppercase;
}

.App img.logo {
	margin: 30px;
}
